.income
  padding: 80px 0 50px 0
  overflow-x: hidden
  &__title
    font-weight: bold
    font-size: 40px
    line-height: 48px
    text-align: center
    color: #323648
    span
      color: $pink
  &__text
    margin-top: 20px
    width: 800px
    margin: 20px auto 0 auto
    font-size: 18px
    line-height: 25px
    text-align: center
    color: #768487
  &__list
    display: flex
    justify-content: space-between
    margin-top: 133px
    position: relative
  &__item
    width: 330px
    height: 220px
    background: #FFFFFF
    box-shadow: 0px 25px 30px rgba(140, 125, 183, 0.2)
    border-radius: 0px 0px 20px 20px
  &__icon-box
    width: 130px
    height: 130px
    background: #7A5CBD
    box-shadow: 0px 11px 31px rgba(140, 125, 183, 0.3)
    border-radius: 100px
    display: flex
    justify-content: center
    align-items: center
    margin: 0 auto
    position: relative
    top: -67px
    &_pink
      background-color: $pink
    &_green
      background-color: $green
  &__item-content
    display: flex
    justify-content: center
    align-items: flex-end
    &_left
      position: relative
      top: -29px
    &_right
      position: relative
      top: -52px
  &__item-text
    font-weight: 600
    font-size: 18px
    line-height: 25px
    color: $black
    &_left
      margin-left: 9px
    &_right
      margin-right: 21px
      text-align: right
    &_center
      width: 83%
      text-align: center
  &__line-bg
    position: absolute
    top: -109px
    left: -359px