@media (min-width: 1920px)
  .descr
    padding-bottom: 0
  .offer
    top: 0
    margin-bottom: 0
    &__bg-img
      display: none
    &__list
      margin-top: 60px
  
@media (max-width: 1200px)
  .container
    padding: 0 30px

// @media (max-width: 991px)

// @media (max-width: 767px)

@media (max-width: 575px)
  .container
    padding: 0 15px
    position: relative
